# Gradle
build/
.gradle/
gradle/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath
out/
bin/

# RetroFuturaGradle
run/

# OS
Thumbs.db
.DS_Store

# Forge
eclipse/
.git-easymagic-backup/
